@use '@comps/WBase/WBase' as WBase;
@use '@comps/WTextTitle/WTextTitle' as WTextTitle;
@use '@comps/WBlueButton/WBlueButton' as WBlueButton;

.app-shop {
    padding: .8em;
    @include WBase.baseForWidget();

    display: flex;
    flex-direction: column;
    gap: .8em;
    height: 100%;

    &__title {
        @include WTextTitle.textTitle();
    }

    &__card {
        @include WBase.baseForWidget();
        padding: 0.6em;

        display: grid;
        grid-template-columns: 59px 1fr;
        grid-template-areas: 
            "cover title"
            "cover descr"
            "btn btn"
        ;
        gap: .3em 1.15em;

        margin-left: -4px;
        padding-right: -4px;

        &-title {
            grid-area: title;
            font-family: Inter;
            font-weight: 700;
            font-size: .8em;
            line-height: 1em;
        }

        &-descr {
            grid-area: descr;
            font-family: Inter;
            font-weight: 500;
            font-size: .7em;
            line-height: 1em;
        }

        &-img {
            grid-area: cover;
            image-rendering: pixelated;
            aspect-ratio: 1 / 1;
            background-color: var(--color-gray-100);
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-btn {
            grid-area: btn;
            @include WBlueButton.blueButton();
            line-height: 1.7em;
        }
    }

    &__card.animate-shake {
        animation: shake 0.5s;
    }
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}