@mixin blueButton () {
    border-radius: 1px;
    font-family: Roboto;
    font-weight: 400;
    font-size: .7em;
    line-height: 1em;
    text-align: center;
    padding: .2857em 1.07em;
    background-color: var(--color-secondary);
    color: var(--color-bg-primary);
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-bg-primary);
        opacity: 0;
        transition: 
            opacity 100ms ease-in-out,
            background-color 100ms ease-in-out
        ;
    }

    &:hover::after {
        opacity: .1;
    }

    &:active::after {
        background-color: #000;
        opacity: .1;
    }
}