
.frame-app {

    background-color: var(--color-bg-primary);

    display: grid;
	grid-template-columns: 16em 4fr 16em;
    grid-template-rows: 4.3em 1fr;
	height: 100vh;
    max-height: 100vh;
	grid-template-areas: 
		"header    header header"
		"left-side main   right-side"
	;
	gap: 1em;
	padding: .8em;

    position: relative;

    &__header {
        grid-area: header;
        position: sticky;
        top: 0;
        z-index: 20;
    }

    &__left {
        grid-area: left-side;
    }

    &__right {
        grid-area: right-side;
    }

    &__center {
        grid-area: main;
        align-self: start;
        // background-color: yellowgreen;

        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        overflow-y: scroll;
        height: 100%;
        align-content: start;
        margin: -10px calc(-10px - .15rem) -10px  -10px;
        padding: 10px .3rem 10px 10px;
    }

    &__center-elem {
        // background-color: yellow;
        align-self: start;
    }
}