
*,
*::before,
*::after {
	box-sizing: border-box;
	/* Все элементы, включая псевдоэлементы ::before и ::after, используют box-sizing: border-box, чтобы учитывать паддинги и бордеры в размерах элемента. */
}

/* Remove default margin */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd,
ol, ul, menu,
figure,
hr {
	margin: 0;
	/* Удаляются все стандартные отступы у множества элементов, чтобы избежать непредсказуемого поведения. */
}

/* Remove list styles on ul, ol elements */
ul, ol {
	list-style: none;
	/* Убираются маркеры списка у элементов ul и ol. */
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
	font-size: 20px;
	/* Задается плавный скролл и базовый размер шрифта для html. */
}

html * {
	font-size: 1rem;
	font-family: "Inter", sans-serif;
  	font-style: normal;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	/* Обеспечивается минимальная высота страницы и улучшенная читаемость текста для body. */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	/* Ссылки без классов получают стандартное оформление, чтобы текст не перескакивал при наведении. */
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
	/* Изображения и элементы picture масштабируются в пределах контейнера и отображаются как блочные элементы. */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	/* Элементы формы наследуют шрифты от родительских элементов. */
	background-color: transparent;
	border: none;
	margin: 0;
}



*::-webkit-scrollbar {
	width: .3rem;
	height: .3rem;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-bg-primary);
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 8px;
}

body {
	overflow-y: scroll;
}