@use '@comps/WBase/WBase.scss' as WBase;
@use '@comps/WTextTitle/WTextTitle' as WTextTitle;

.mypoke {
    @include WBase.baseForWidget();

    font-size: 1rem;
    padding: .8em;

    display: grid;
    grid-template-columns: 1fr .8em;

    &__title {
        @include WTextTitle.textTitle();
        align-self: center;
    }

    &__wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 300ms ease-out;
        grid-column: 1 / -1;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8.25em, 1fr));
        grid-auto-rows: minmax(12.35em, auto) ;
        gap: .6em;

        overflow: hidden;
        margin: 0px;
        padding: 0px;
        opacity: 0;

        transition: 
            margin 300ms ease-in-out,
            padding 300ms ease-in-out,
            opacity 300ms ease-in-out
        ;
    }

    &__arrow,
    &__title {
        cursor: pointer;
    }

    &__arrow {
        transform: rotate(-180deg);
        transition: transform 300ms ease-in-out;
    }
}

.mypoke.expanded {
    .mypoke__wrapper {
        grid-template-rows: 1fr;
    }

    .mypoke__content {
        opacity: 1;
        margin: 0 -.8em -.8em -.8em;
        padding: .8em;
        // clip-path: inset(-10px -10px -10px -10px);
    }

    .mypoke__arrow {
        transform: translate(0)
    }
}

.pokemon-card {
    @include WBase.baseForWidget();
    padding: .6em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1em 1fr 1em 1em;

    grid-template-areas: 
        "name setting"
        "avatar avatar"
        "label_weight weight"
        "label_moneysec moneysec"
    ;

    user-select: none;
    cursor: pointer;

    background-color: transparent;
    transition: background-color 300ms ease-in-out;
    z-index: 10;
    box-sizing: border-box;

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }

    &__name {
        grid-area: name;
        font-weight: 700;
        font-size: .6em;
        line-height: 1em;
    }

    &__setting {
        grid-area: setting;
        padding: 0;
        cursor: pointer;
        pointer-events: none;
        justify-self: end;
    }

    &__avatar {
        grid-area: avatar;
        image-rendering: pixelated;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            pointer-events: none;
        }
    }

    &__weight {
        grid-area: weight;

        font-weight: 500;
        font-size: .6em;
        line-height: 1em;
        text-align: right;
        align-self: center;
    }

    &__moneysec {
        grid-area: moneysec;
        font-weight: 500;
        font-size: .6em;
        line-height: 1em;
        text-align: right;
        align-self: center;
    }
    
    &::after {
        content: "Денег/сек";
        grid-area: label_moneysec;
        font-weight: 700;
        font-size: .6em;
        line-height: 1em;
        align-self: center;
    }

    &::before {
        content: "Вес";
        grid-area: label_weight;
        font-family: Inter;
        font-weight: 700;
        font-size: .6em;
        line-height: 1em;
        align-self: center;
    }

}